body {
  width: 100%;
  overflow-x: hidden;
}
.text {
  width: 100%;
  text-align: center;
}

.first_screen {
  height: 1024px;
  width: 1280px;
  position: flex;
  background: #f4f4f4;
}

.first_screen h1 {
  font-family: 'FiraSansBold';
  font-size: 100px;
  color: #101010;
  text-transform: uppercase;
}
.first_page {
  width: 1280px;
  height: 1024px;
  position: absolute;
  background: url(../images/1page.svg);
  top: 0;
  left: 0;
}
