body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #101010;
}

h1 {
  font-family: 'FiraSans-Black';
  font-size: 200px;
  color: #101010;
}
h2 {
  font-family: 'FiraSans-Bold';
  font-size: 110px;
  color: #101010;
  text-transform: uppercase;
}

h3 {
  font-family: 'FiraSans-Bold';
  font-size: 50px;
  color: #101010;
}

h4 {
  font-family: 'FiraSans-Medium';
  font-size: 30px;
  color: #101010;
}

h5 {
  font-family: 'FiraSans-Medium';
  font-size: 24px;
  color: #101010;
}
h6 {
  font-family: 'FiraSans-Regular';
  font-size: 20px;
  color: #101010;
}

.first_screen {
  height: 1024px;
  width: 1280px;
  background: url(../images/1page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.heading {
  margin-top: 76px;
  margin-left: 389px;
}
.horizont_first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 35px;
  margin-top: 190px;
  margin-left: 0px;
  width: 1266px;
  height: 519px;
}
/* Звездочки */
.stars {
  position: relative;
  margin-top: 129px;
  margin-left: 0px;
  width: 120px;
  height: 220px;
}

/* Текст на стикере - звездочке */
.sticker {
  position: absolute;
  font-family: 'FiraSans-Bold';
  font-size: 27px;
  color: #77f721;
  text-transform: uppercase;
  transform: rotate(13deg);
  top: 52px;
  left: 5px;
}

/* Текст на стикере - звездочке */
.sticker2 {
  transform: rotate(-15deg);
  margin-top: 81px;
  margin-left: 18px;
}

.second_window {
  position: relative;
  margin-top: 129px;
  margin-left: 38px;
  width: 127px;
  height: 219px;
}
.stictop {
  font-family: 'FiraSans-Regular';
  font-size: 10px;
  color: #101010;
  text-transform: uppercase;
  transform: rotate(6deg);
  margin-top: 72px;
  margin-left: 30px;
}
.sticcenter {
  font-family: 'FiraSans-Bold';
  font-size: 12px;
  color: #101010;
  text-transform: uppercase;
  transform: rotate(6deg);
  margin-top: 4px;
  margin-left: 12px;
}
.stictwo {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
  text-transform: uppercase;
  transform: rotate(-9deg);
  margin-top: 19px;
  margin-left: 64px;
}
.door {
  width: 136px;
  height: 183px;
  margin-top: 333px;
  margin-left: 68px;
}

.tablettext {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
  text-transform: uppercase;
  transform: rotate(-10deg);
  margin-top: 35px;
  margin-left: 53px;
}

.big_window {
  margin-top: 0px;
  margin-left: 0px;
  width: 642px;
  height: 389px;
}

.horizontal_block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 0px;
  margin-left: 0px;
  gap: 9px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #f4f4f4;
  border: 4px solid #77f721;
}

.square1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-left: 6px;
  width: 64px;
  height: 64px;
}

.letter {
  font-family: 'FiraSans-Medium';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
}

.horizontal_block1 {
  display: flex;
  flex-direction: row;
  background: url(../images/window.svg);
  margin-top: 2px;
  margin-left: 38px;
  height: 74px;
  width: 153px;
}
.horizontal_block2 {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  margin-left: 244px;
  height: 74px;
  gap: 52px;
}

.shelf {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.partone {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.parttwo {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-left: -1px;
}

.partthree {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-left: 44px;
}
.horizontal_block3 {
  height: 74px;
  width: 600px;
  margin-top: 14px;
  margin-left: 6px;
}

.horizontal_block4 {
  height: 74px;
  width: 234px;
  margin-top: 14px;
  margin-left: 204px;
}

.second_screen {
  height: 1569px;
  width: 1280px;
  position: relative;
  background: url(../images/2page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.description {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 112px;
  margin-top: 50px;
}
.headsampler {
  font-family: 'FiraSans-Black';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  width: 157px;
  height: 36px;
  margin-top: 116px;
  margin-left: 562px;
}

.vertical_block1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 33px;
  margin-left: 229px;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 36px;
  background: #f4f4f4;
  border: 2px solid #101010;
  border-radius: 5px;
}

.button2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 24px;
  border: 2px solid #101010;
  border-radius: 5px;
}
.smallbuttext {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
  text-transform: uppercase;
}
.pictext {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
  text-transform: uppercase;
}
.pictext1 {
  margin-top: 125px;
  margin-left: 1056px;
}
.pictext2 {
  margin-top: 80px;
  margin-left: 1069px;
}

.labeladd {
  margin-top: -14px;
  margin-left: 112px;
}
.horizontal_block5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  height: 35px;
  width: 1280px;
  margin-top: -14px;
}
.bigbuttext {
  font-family: 'FiraSans-Regular';
  font-size: 18px;
  color: #f4f4f4;
  text-transform: uppercase;
}

.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 35px;
  background: #f4f4f4;
  border: 2px solid #101010;
  border-radius: 5px;
}

.button3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 24px;
  border: 2px solid #101010;
  border-radius: 5px;
}

.vertical_block {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 204px;
  margin-top: 28px;
  margin-left: 112px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 45px;
  background: #f4f4f4;
  border: 2px solid #101010;
  border-radius: 5px;
}
.button div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 31px;
  background: #101010;
  border-radius: 5px;
}

.vertical_block_numbers {
  display: flex;
  flex-direction: column;
  gap: 29px;
  height: 380px;
  width: 20px;
  margin-top: -245px;
  margin-left: 1130px;
}

.picnumbers {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
}
.butposition {
  margin-top: -4px;
  margin-left: 142px;
}

.pictext3 {
  margin-top: 16px;
  margin-left: 160px;
}
.pictext4 {
  margin-top: -9px;
  margin-left: 1070px;
}

.third_screen {
  height: 1100px;
  width: 1280px;
  position: relative;
  background: url(../images/3page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}
.label {
  margin-left: 112px;
  margin-top: 50px;
}

.Black_Italic {
  font-family: 'FiraSans-BlackItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 178px;
  margin-top: 62px;
  margin-left: 803px;
}

.ExtraBold_Italic {
  text-align: center;
  font-family: 'FiraSans-ExtraBoldItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 69px;
  width: 160px;
  margin-top: -5px;
  margin-left: 561px;
}

.Bold_Italic {
  font-family: 'FiraSans-BoldItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 164px;
  margin-top: -21px;
  margin-left: 296px;
}

.SemiBold_Italic {
  font-family: 'FiraSans-SemiBoldItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 139px;
  margin-top: 24px;
  margin-left: 570px;
}
.Medium_Italic {
  text-align: center;
  font-family: 'FiraSans-MediumItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 69px;
  width: 120px;
  margin-top: 15px;
  margin-left: 581px;
}

.Italic {
  font-family: 'FiraSans-Italic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 82px;
  margin-top: -40px;
  margin-left: 797px;
}
.Light_Italic {
  font-family: 'FiraSans-LightItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 163px;
  margin-top: 15px;
  margin-left: 820px;
}

.ExtraLight_Italic {
  text-align: center;
  font-family: 'FiraSans-ExtraLightItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 69px;
  width: 159px;
  margin-top: -14px;
  margin-left: 284px;
}

.Thin_Italic {
  font-family: 'FiraSans-ThinItalic';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 148px;
  margin-top: -42px;
  margin-left: 839px;
}

.Black {
  font-family: 'FiraSans-Black';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 90px;
  margin-top: -12px;
  margin-left: 605px;
}

.ExtraBold {
  font-family: 'FiraSans-ExtraBold';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 161px;
  margin-top: -6px;
  margin-left: 827px;
}

.Bold {
  font-family: 'FiraSans-Bold';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 74px;
  margin-top: -6px;
  margin-left: 608px;
}

.SemiBold {
  font-family: 'FiraSans-SemiBold';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 140px;
  margin-top: -11px;
  margin-left: 375px;
}

.Medium {
  font-family: 'FiraSans-Medium';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 112px;
  margin-top: -13px;
  margin-left: 590px;
}

.Regular {
  font-family: 'FiraSans-Regular';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 123px;
  margin-top: -14px;
  margin-left: 851px;
}

.Light {
  font-family: 'FiraSans-Light';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 77px;
  margin-top: 52px;
  margin-left: 609px;
}

.ExtraLight {
  font-family: 'FiraSans-ExtraLight';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 157px;
  margin-top: 17px;
  margin-left: 571px;
}

.Thin {
  font-family: 'FiraSans-Thin';
  font-size: 30px;
  color: #101010;
  text-transform: uppercase;
  height: 36px;
  width: 63px;
  margin-top: 12px;
  margin-left: 255px;
}

.number {
  margin-top: 88px;
  margin-left: 582px;
}

.line_green2 {
  width: 1280px;
  height: 4px;
  background: #77f721;
  margin: 51px 0 0 0;
}

.fourth_screen {
  height: 1024px;
  width: 1280px;
  position: relative;
  background: url(../images/4page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  height: 753px;
  width: 1280px;
  margin-top: -10px;
}

.first_hor {
  display: flex;
  flex-direction: row;
  gap: 200px;
  height: 190px;
  width: 1280px;
  margin-top: -10px;
}

.b1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
  height: 190px;
  width: 299px;
  margin-top: -28px;
  margin-left: 270px;
}

.b2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 400px;
  width: 300px;
  margin-top: 15px;
  margin-left: 85px;
}

.b2 h1 {
  width: 150px;
  height: 150px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 220px;
}

.second_hor {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 190px;
  width: 1280px;
  margin-top: 100px;
}

.b3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 400px;
  width: 300px;
  margin-top: 26px;
  margin-left: 92px;
}

.b3 h1 {
  width: 150px;
  height: 150px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 280px;
}

.b4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 190px;
  width: 299px;
  margin-top: -17px;
  margin-left: 50px;
}

.b5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 190px;
  width: 299px;
  margin-top: -14px;
  margin-left: 35px;
}
.third_hor {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 190px;
  width: 1280px;
  margin-top: 150px;
}

.b6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  height: 400px;
  width: 300px;
  margin-top: -14px;
  margin-left: 162px;
}

.b6 h1 {
  width: 150px;
  height: 150px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 80px;
}

.b7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 190px;
  width: 300px;
  margin-top: -50px;
  margin-left: 98px;
}

.mediator {
  height: 334px;
  width: 334px;
  background: url(../images/mediator.svg);
  margin-top: -14px;
  margin-left: -70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth_screen {
  height: 896px;
  width: 1280px;
  position: relative;
  background: url(../images/5page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.description2 {
  width: 473px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 112px;
  margin-top: 50px;
}

.heading2 {
  margin-top: 101px;
  margin-left: 88px;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 486px;
  width: 1280px;
  margin-top: 128px;
}

.box1 {
  display: flex;
  flex-direction: column;
  height: 256px;
  width: 486px;
  transform: rotate(-90deg);
  margin-top: 130px;
  margin-left: 20px;
}

.box2 {
  height: 307px;
  width: 454px;
  margin-top: 180px;
  margin-left: -70px;
}

.box3 {
  display: flex;
  flex-direction: column;
  height: 256px;
  width: 486px;
  transform: rotate(90deg);
  margin-top: 116px;
  margin-right: 38px;
}

.boxnamepic {
  margin-top: 28px;
  margin-left: 28px;
}

.boxnamepic1 {
  text-transform: uppercase;
  margin-top: 3px;
  margin-left: 277px;
}

.text {
  margin-top: 35px;
  margin-left: 27px;
}
.boldboxnamepic {
  font-family: 'FiraSans-SemiBold';
  font-size: 80px;
  text-transform: uppercase;
  margin-top: -3px;
  margin-left: 23px;
}

.text2 {
  margin-top: -50px;
  margin-left: 395px;
}

.boxnamepic3 {
  margin-top: 22px;
  margin-left: 2px;
}

.boxnamepic13 {
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 275px;
}

.text3 {
  margin-top: 35px;
  margin-left: 2px;
}
.boldboxnamepic3 {
  font-family: 'FiraSans-SemiBold';
  font-size: 80px;
  text-transform: uppercase;
  margin-top: -2px;
}

.text23 {
  margin-top: -50px;
  margin-left: 371px;
}

.line_green3 {
  width: 1280px;
  height: 4px;
  background: #77f721;
  margin: 38px 0 0 0;
}

.sixth_screen {
  height: 792px;
  width: 1280px;
  position: relative;
  background: url(../images/6page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.switches {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 57px;
  height: 184px;
  width: 196px;
  margin-top: 248px;
  margin-left: 289px;
}

.switch1 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 184px;
  width: 196px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 164px;
}

.row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 60px;
}

.color {
  color: #f4f4f4;
}

.exp {
  margin-top: -36px;
  text-align: center;
}

.seventh_screen {
  height: 1024px;
  width: 1280px;
  position: relative;
  background: url(../images/7page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 956px;
  width: 1280px;
  margin-top: 44px;
}

.hor1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 400px;
  width: 1280px;
}

.circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 405px;
  background: url(../images/circle1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2px;
  z-index: 2;
}

.circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  width: 148px;
  margin-top: 54px;
  margin-left: 1px;
}

.circle2 h1 {
  width: 150px;
  height: 150px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 50px;
  margin-top: 6px;
}

.circle3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 189px;
  width: 190px;
  margin-top: -29px;
  margin-left: 157px;
}

.circle3 h1 {
  width: 187px;
  height: 187px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 120px;
  margin-top: 5px;
}

.extext {
  text-transform: uppercase;
}

.circle4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 109px;
  margin-top: -10px;
  margin-left: 180px;
}

.hor2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 300px;
  width: 1280px;
  margin-top: 0px;
  margin-left: 0px;
}

.circle5 {
  display: flex;
  height: 400px;
  width: 300px;
  background: url(../images/circle5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -190px;
  z-index: 3;
}

.circle6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -181px;
  margin-left: -2px;
}

.circle6 h1 {
  width: 216px;
  height: 215px;
  clip-path: circle(
    50% at 50% 50%
  ); /* круг для обрезки, центрированный внутри блока */
  overflow: hidden;
  text-align: center;
  line-height: 110px;
}

.circle7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 216px;
  width: 215px;
  margin-top: -298px;
  margin-left: 89px;
}

.circle8 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 216px;
  width: 215px;
  margin-top: -170px;
  margin-left: 60px;
}

.move {
  margin-top: 110px;
  margin-left: 35px;
}

.hor3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 500px;
  width: 1280px;
  margin-top: 0px;
  margin-left: 0px;
}

.circle9 {
  display: flex;
  height: 283px;
  width: 294px;
  background: url(../images/circle9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -110px;
  margin-left: 3px;
  z-index: 4;
}

.move2 {
  margin-top: 55px;
  margin-left: 118px;
}

.circle10 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
  width: 466px;
  background: url(../images/circle9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -200px;
  margin-left: -140px;
  z-index: 6;
}

.circle11 {
  display: flex;
  height: 348px;
  width: 362px;
  background: url(../images/circle11.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -330px;
  margin-left: -190px;
  z-index: 5;
}

.move3 {
  margin-top: 90px;
  margin-left: 130px;
}

.circle12 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 212px;
  width: 204px;
  margin-top: -80px;
  margin-left: -60px;
}

.circle13 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 212px;
  width: 156px;
  margin-top: -160px;
  margin-left: 120px;
}

.eighth_screen {
  height: 1024px;
  width: 1280px;
  position: relative;
  background: url(../images/8page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.line_green4 {
  width: 1280px;
  height: 4px;
  background: #77f721;
  margin: 0 0 0 0;
}

.horiz_block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 1280px;
  height: 919px;
}

.cheque {
  display: flex;
  flex-direction: column;
  width: 442px;
  height: 878px;
  transform: rotate(-6deg);
  margin-top: 12px;
  margin-left: 220px;
}

.stickerr {
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 164px;
  transform: rotate(15deg);
  margin-top: 450px;
  margin-left: 360px;
}

.chequetext {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
}

.position {
  margin-top: 195px;
  margin-left: 166px;
}

.position1 {
  margin-top: 40px;
  margin-left: 188px;
}

.position2 {
  text-align: center;
  margin-top: 16px;
  margin-left: 24px;
}

.position3 {
  margin-top: 34px;
  margin-left: 65px;
}

.position4 {
  margin-top: 82px;
  margin-left: 65px;
}

.position5 {
  margin-top: 8px;
  margin-left: 65px;
}

.position6 {
  margin-top: 29px;
  margin-left: 80px;
}

.position7 {
  margin-top: 106px;
  margin-left: 122px;
}

.position8 {
  margin-top: 25px;
  margin-left: 122px;
}

.position9 {
  margin-top: 24px;
  margin-left: 62px;
}

.stictext1 {
  color: #f4f4f4;
  letter-spacing: 20px;
  margin-top: 14px;
  margin-left: 30px;
}

.stictext2 {
  letter-spacing: 4px;
  margin-top: 20px;
  margin-left: 25px;
}

.stictext3 {
  color: #f4f4f4;
  letter-spacing: 5px;
  margin-top: 23px;
  margin-left: 24px;
}

.line_green5 {
  width: 1280px;
  height: 4px;
  background: #77f721;
  margin: 8px 0 0 0;
}

.ninth_screen {
  height: 792px;
  width: 1280px;
  position: relative;
  background: url(../images/9page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: center;
}

.finalcheque {
  display: flex;
  flex-direction: column;
  width: 349px;
  height: 603px;
  transform: rotate(-9deg);
  margin-top: 96px;
  margin-left: 465px;
}

.fincheqtext1 {
  text-align: center;
  margin-top: 25px;
}

.first_position {
  width: 298px;
  height: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 38px;
  margin-left: 24px;
}

.firstpostext {
  font-family: 'FiraSans-Regular';
  font-size: 16px;
  color: #101010;
  text-transform: uppercase;
}

.second_position {
  margin-top: 15px;
  margin-left: 24px;
}

.third_position {
  margin-top: 15px;
  margin-left: 24px;
}

.fourth_position {
  margin-top: 15px;
  margin-left: 24px;
}

.final_position {
  width: 298px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
  margin-left: 24px;
}

.finalpostext {
  text-transform: uppercase;
}

.finalword {
  text-align: center;
  margin-top: 38px;
  text-transform: uppercase;
}

.finalword2 {
  margin-top: 5px;
}

.finalword3 {
  margin-top: 5px;
}

.finnumbers {
  margin-top: 96px;
  margin-left: 110px;
  letter-spacing: 4px;
}

footer {
  width: 1280px;
  height: 200px;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

footer img {
  width: 258px;
  height: 110px;
  margin-right: 48px;
}

.foothertext {
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 28px;
  text-align: left;
  margin-left: 54px;
}
